* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.inline{
    display: inline;
}

.right-icon{
    margin-right:0;
    float:right;
}

.left-icon{
    margin-left: 0;
}

.username {
    font-size: 0.8em;
    color: #95a5a6;
}

.center {
    margin: auto;
    text-align: center;
}

.text-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /*-webkit-box-orient: vertical;*/


}

.text{
    width: 100%;
    /*height: 72px;*/
}

.box-defult{
    height: 310px;
}


.playlists-wrapper {
    display: block;
    max-height: 250px;
    overflow-y: scroll;
}

[v-cloak]{
    display: none;
}

.font-black{
    color: #000!important;
    font-weight: bold!important;
}

#add-palylist > span > li > label{
    margin-left: 0!important;
}
#add-palylist > span > li > button{
    line-height: 1;
    padding: 2px;
    margin-right: 0;
    float: right;
}
