.play-box{
    margin-top: 60px;
}

.node-info {
    background: #fafafa;
    padding: 15px;
    overflow: hidden;
}

.node h1.title {
    font-weight: 700;
    letter-spacing: -2px;
    margin-top: 0;
    margin-bottom: -5px;
    position: relative;
    top: -5px;
}

h1, .h1 {
    font-size: 41px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 700;
    line-height: 1.1;
    color: inherit;
}

:-webkit-any(article,aside,nav,section) h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.node-buttons {
    background: #f4f5f6;
    padding: 15px;
    margin-bottom: 30px;
    min-height: 70px;
}
.flag-wrapper {
    position: relative;
}



.btn {
    border: none;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4;
    border-radius: 4px;
    padding: 10px 15px;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}

.btn-primary {
    color: #fff;
    background-color: #34495e;
    border-color: #2b3c4e;
}

.btn-primary {
    color: white;
    background-color: #1abc9c;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.72222;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    color: #16a085;
    text-decoration: none;
}

a {
    background: transparent;
}

.playlist-button-wrapper {
    position: relative;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.72222;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.playlist-button-wrapper .playlists {
    position: absolute;
    z-index: 100;
    width: 250px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    background: #f4f5f6;
    padding: 15px;
    top: 40px;
    left: 0;
}

.fui-plus:before {
    content: "\002b";
}

#addloved.loved:before {
    content: "\e143";
}

#add-palylist > span > li > label{
    margin-left: 20px;
}

@media (min-width: 768px) {
    .container {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}