<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>播放界面</title>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/videoPlay.css">
</head>
<body>
<div v-cloak id="app">
    <div class="container">
        <div title="播放窗口">
            <div class="play-box col-xs-12">
                <video width="100%" controls>
                </video>
            </div>
        </div>
        <div class="node-info" title="视频信息">
            <!--提交者-->
            <div class="submitted">
                <span class="hidden-xs">
                    <span class="user-picture">
                        <a href="">
                            <img src="" alt="">
                        </a>
                    </span>
                </span>
                <h1 class="title">{{videoData.title}}</h1>
                "制作者:"<a href="">{{videoData.producer}}</a>
                "制作日:"<span>2019-09-18 12:12</span>
            </div>
            <!--视频描述详情-->
            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                <div class="field-items">
                    <div class="field-item even" style="display: block; line-height: 27.5555px; height: auto;">
                        <p>
                            {{videoData.description}}
                        </p>
                    </div>
                </div>
            </div>
            <!--喜爱和查看-->
            <div class="node-views">
                <i class="glyphicon glyphicon-heart">{{videoData.love}}</i>
                <i class="glyphicon glyphicon-eye-open">{{videoData.views}}</i>

            </div>


        </div>
        <div class="node-buttons">
            <!--喜爱及收藏-->
            <span class="flag-wrapper flag-like flag-like-907940">
                <button id="addloved" class="flag flag-action flag-link-toggle unflagged btn btn-primary flag-processed">
                    <i class="glyphicon glyphicon-heart">like</i>
                </button>
                <span class="flag-throbber">&nbsp;</span>
                <span class="flag-message flag-success-message flag-unflagged-message flag-auto-remove"
                      style="display: none;">
          </span>
            </span>
            <!--添加分类列表-->
            <span class="playlist-button-wrapper">
            <button id = "addlistbutton" class="add-button btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span>
                Add to
            </button>


        </span>
            <!--关注-->
            <span class="flag-wrapper flag-follow flag-follow-1289541">
            <a href="" title="" class="flag flag-action flag-link-toggle btn btn-primary flag-processed" rel="nofollow">
                <i class="glyphicon glyphicon-ok"></i>
                Follow
            </a>
            <span class="flag-throbber">&nbsp;</span>
    </span>
        </div>
    </div>
</div>



<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="./js/Jq.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="./js/bootstrap.js"></script>
<script src="./js/vue.js"></script>
<script src="./js/vue-resource.js"></script>
<script src="./js/axios.js"></script>


<!--vue操作-->
<script>
    Vue.prototype.axios=axios;
    // axios.defaults.baseURL='http://127.0.0.1:3000';
    var vm = new Vue({
            el: '#app',
            data:{
                videoData:"",
                src:"",


            },
            created(){
                this.getApi()
            },
            methods:{
                getApi(){
                    let _this = this;
                    console.log("=========window.location.href=======",window.location.href);
                    let requestedUrl = window.location.href;
                    console.log(requestedUrl);
                    if (requestedUrl==="http://127.0.0.1:3000/"){
                        requestedUrl="http://127.0.0.1:3000";
                        console.log(requestedUrl);
                    }
                    axios.get(requestedUrl+"api").then(function(response,) {
                        console.log("=========pageList=======",response.data,_this);
                        _this.videoData = response.data;
                        _this.src = response.data.src;
                        // _this.src = '/video/20191225125402/被害妄想携带虫狗~.mp4.mp4';


                    });
                },

            }
        },
    )
</script>



<script>
</script>
</body>
</html>